<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{% static 'assets/brightmind.png' %}" alt="BrightMind" style="max-width: 100%; height: auto;">
        </div>
        <div class="welcome-message">
            <h2 style="font-size: 24px; color: #333; margin-bottom: 10px;">WELCOME!</h2>
            <p style="font-size: 18px; color: #333; margin-bottom: 30px;">LET'S GET ON-BOARD!</p>
        </div>
        <div class="actions" style="display: flex; flex-direction: column; gap: 10px;">
            <a href="{% url 'register' %}" style="display: block; padding: 15px; text-align: center; background-color: #FFD700; border: none; border-radius: 10px; font-size: 18px; font-weight: bold; color: #333; text-decoration: none; cursor: pointer;">Create account</a>
            <a href="{% url 'login' %}" style="display: block; padding: 15px; text-align: center; background-color: white; border: 2px solid #FFD700; border-radius: 10px; font-size: 18px; font-weight: bold; color: #333; text-decoration: none; cursor: pointer;">Already have an account</a>
        </div>
    </div>
</body>
</html>
