<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div class="container">
        <h2>Create your account</h2>
        <form class="account-form" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="input-wrapper">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-wrapper">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="login-button">
                <input type="submit" value="Login"
                    style="display: block; padding: 15px; text-align: center; background-color: #FFD700; border: none; border-radius: 10px; font-size: 18px; font-weight: bold; color: #333; text-decoration: none; cursor: pointer;">
            </div>
        </form>

        <div class="divider">
            <hr>
            <span>or</span>
            <hr>
        </div>

        <div class="google-btn">
            <img src="{% static 'assets/google-symbol.png' %}" alt="Google icon">
            Continue with Google
        </div>
    </div>
    <!-- JavaScript for login failure alert -->
    <script>
        // Check if login failed
        {% if login_failed %}
            // Show the alert message for incorrect credentials
            alert("The username or password you entered is incorrect!");
        {% endif %}
    </script>
</body>
</html>
