<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div class="container">
        <h2>Create your account</h2>
        <form class="account-form">
            <label for="email">Email or username</label>
            <input type="text" id="email" placeholder="enter email or username">

            <label for="password">Password</label>
            <div class="input-wrapper">
                <input type="password" id="password" placeholder="enter password">
            </div>

            <button type="submit" class="create-account-btn">Login</button>
        </form>

        <div class="divider">
            <hr>
            <span>or</span>
            <hr>
        </div>

        <button class="google-btn">
            <img src="{% static 'assets/google-symbol.png' %}" alt="Google icon">
            Continue with Google
        </button>
    </div>
</body>
</html>
