<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Can you pass this stage</title>
    <link href="{% static 'styles/Game.css' %}" rel="stylesheet">
</head>

<body>
    <h1>Math Game</h1>
    <div id="math-question">
        <!-- Question will be generated here -->
    </div>

    <div id="answer-options">
        <!-- Draggable options will be generated here -->
    </div>

    <p id="result"></p>

</body>

</html>
