<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="{% url 'homepage' %}" class="back-arrow">←</a>
            <h2>Profile</h2>
            <div class="profile-info">
                <img src="{% static 'assets/star.png' %}" alt="Star" class="star-icon">
                <span class="points">{{ points }}</span>
            </div>
        </div>

        <div class="profile-picture">
            <img src="{% static 'assets/profile.png' %}" alt="Profile" class="profile-img">
        </div>

        <div class="profile-info">
            <p>Username: <span class="username">{{ username }}</span></p>
        </div>
        

        <!-- <form class="profile-form">
            <label for="name">Name</label>
            <input type="text" id="name" value="John Doe">

            <label for="email">Email</label>
            <input type="email" id="email" value="JohnDoe@email.com">

            <label for="phone">Phone</label>
            <input type="tel" id="phone" value="+123 456 7890">

            <button type="submit" class="update-profile-btn">Update Profile</button>
        </form> -->

        <div class="additional-actions">
            
            <a href="{% url 'index' %}" class="btn-logout"
            style="display: block; padding: 15px; text-align: center; background-color: #FFD700; border: none; border-radius: 10px; font-size: 18px; font-weight: bold; color: #333; text-decoration: none; cursor: pointer;">
            Logout</a>

        </div>
    </div>
</body>
</html>
